<template>
    <div>
        <p>FullName {{ fullName }} </p>
        <button @click="changeName">changeName</button>
    </div>
</template>

<script>
    export default {
        data:()=>{
            return{
                firstName:"Tony",
                lastName:"Burheetommh"
            }
        },
        computed: {
            fullName: {
                get(){
                    return this.firstName +" "+this.lastName
                },
                set(Value) {
                    const name = Value.split(' ')
                    this.firstName = name[0]
                    this.lastName  = name[1]
                }
            }
        },
        methods: {
            changeName(){
                this.fullName ='jack papho'
            }
        },
    }
</script>