<template>
  <div>
    <!-- <ComputedView /> -->
    <GetterSetter/>
  </div>
</template>

<script>
// import ComputedView from './components/computedView.vue';
import GetterSetter from './components/GetterSetter.vue';
  export default {
    components: {
      // ComputedView,
      GetterSetter
    },
  }
</script>
